<!--  <div>
  <p *ngIf="_id"> ID: {{ _id }}</p>
  <p *ngIf="asignado">{{ asignado }}</p>
  <h3 *ngIf="titulo">{{ titulo }}</h3>
  <p *ngIf="descripcion">{{ descripcion }}</p>
  <p *ngIf="fecha_fin">Finaliza: {{ fechaFin }}</p>
  <p [ngClass]="cambiarColorEstado(estado)" *ngIf="estado">{{ estado }}</p>

  <button (click)="editarTarea()" *ngIf="mostrarEditarBoton && _id">Editar Tarea</button>
</div>
 -->


<!--  <div class="container">
  <div class="card" *ngFor="let tarea of tareas" > 
    
      <div class="top">
          <img src="../../../assets/imgTop1.jpg" alt="">
      </div>
      <div class="mid"> 
        <li><span class="spanLi spanLiAsig">{{tarea.asignado}}</span></li>
        <li><span class="spanLi spanLiTitulo">{{tarea.titulo}} </span> </li>
        <li><span class="spanLi spanLiDescrip">{{tarea.descripcion}}</span></li>
        <li [ngClass]="cambiarColorEstado(tarea.estado)"  class="list-group-item"><span class="spanLi spanLiEstado">{{tarea.estado}}</span></li>
      </div>
      <div class="bot">
        
      </div> 

  </div>
</div> -->